.footer__info {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #545454;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .footer__info {
        margin-left: 27px;
    }
}

@media screen and (max-width: 767px) {
    .footer__info {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 320px) {
    .footer__info {
        margin-left: 19px;
    }
}