.profile__info {
    display: flex;
    flex-direction: column;
    margin: 0 18px 0 30px;
    gap: 16px;
    max-width: 336px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        text-align: center;
    }
}